@model int
@{ 
    ViewBag.Title = "404 Error";
}


<div class="alert alert-danger mt-1 mb-1" >
    <h4> 404 Not Found</h4>
    <hr />
    <h3> Employee with ID = @Model Not found !!</h3>
</div>

<a asp-action="index" asp-controller="home" class="btn btn-outline-primary">Back To Home</a>